{% extends "ob_app/base.html" %}
{# benutzt das base template #}

{% load crispy_forms_tags %}
{% load static %}
{# lädt crispy forms und static tags #}

{% block content %}
{# startet den content block #}

<div class="row">

    <div class="col">
        <form method="post" target="{% url 'onboarding-start' %}">
        {% csrf_token %}
        {# CSRF-Token für Sicherheit #}

        <div class="customselectfield">
            {{ form.newEmployeeID|as_crispy_field }}
            {# rendert das newEmployeeID Feld als crispy field #}
        </div>

        <div class="customselectfield">
            {{ form.employeeID|as_crispy_field }}
            {# rendert das employeeID Feld als crispy field #}
        </div>

        <div class="customselectfield">
            {{ form.licenseIDS|as_crispy_field }}
            {# rendert das licenseIDS Feld als crispy field #}
        </div>

        <div class="customselectfield">
            {{ form.materialIDS|as_crispy_field }}
            {# rendert das materialIDS Feld als crispy field #}
        </div>

        <div class="customselectfield">
            {{ form.accountIDS|as_crispy_field }}
            {# rendert das accountIDS Feld als crispy field #}
        </div>

        <div class="customselectfield">
            {{ form.otherIDS|as_crispy_field }}
            {# rendert das otherIDS Feld als crispy field #}
        </div>

        <input type="submit" class="btn btn-primary" value="Save">
        {# speichert das Formular #}

        </form>
    </div>

    <div class="col-3">
        <ul>
            <li><span class="color-grey"></span>Erledigt</li>
            <li><span class="color-yellow"></span>Noch zu erledigen</li>
        </ul>
    </div>

</div>

<script src="{% static 'js/forms.js' %}"></script>
{# lädt das forms.js Skript #}

{% endblock content %}
